.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}
    .signup-container h2 {
        margin-bottom: 20px;
    }

    .signup-container .input-field {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
    }

    .signup-container .login-check {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

        .signup-container .login-check .checkbox {
            font-size: 14px;
        }

.login-check a {
    color: #059212;
    text-decoration: underline;
}

.signup-container .signup-button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

        .signup-container .signup-button:hover {
            background-color: #333;
        }


/* 
  ##Cihaz = Masaüstü
  ##Ekran = 1281px 'den yüksek çözünürlükler için
*/

@media (min-width: 1281px) {

    .signup-container {
        margin: 100px;
        width: 800px;
    }
}

/* 
  ##Cihaz = Laptoplar, Masaüstü
  ##Ekran = 1025px to 1280px Arası Ekranlar
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    .signup-container {
        margin: 100px;
        width: 800px;
    }
}

/* 
  ##Cihaz = Tabletler, Ipad (portrait/dikey modda)
  ##Ekran = 768px to 1024px Arası Ekranlar
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .signup-container {
        margin: 100px;
        width: 600px;
    }
}

/* 
  ##Cihaz = Tabletler, Ipad (landscape/yatay modda)
  ##Ekran = 768px to 1024px Arası Ekranlar
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .signup-container {
        margin: 100px;
        width: 600px;
    }
}

/* 
  ##Cihaz = Düşük Çözünürlüklü Tablet ve Mobil Ekranlar (Landscape / Yatay Modda)
  ##Ekran = 481px to 767px Arası Ekranlar
*/

@media (min-width: 481px) and (max-width: 767px) {

    .signup-container {
        margin: 20px;
    }
}

/* 
  ##Cihaz = En Çok Tercih Edilen Mobil Boyutlar (Portrait/Dikey Modda)
  ##Ekran = 320px to 479px Arası Ekranlar
*/

@media (min-width: 320px) and (max-width: 480px) {

    .signup-container {
        margin: 20px;
    }
}