h2 {
    color: #495057;
    margin-bottom: 20px;
    text-align: center;
    margin: 20px;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .message-container .empty-message {
        text-align: center;
        font-size: 3em !important;
        color: #6c757d;
        margin-top: 20px;
    }
/* Tablo stil ayarları */
.table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .table th,
    .table td {
        padding: 12px 15px;
        border: 1px solid #dee2e6;
        text-align: left;
    }

    .table thead th {
        background-color: #343a40;
        color: #ffffff;
        text-transform: uppercase;
    }

    .table tbody tr {
        transition: background-color 0.2s ease;
    }

        .table tbody tr:hover {
            background-color: #f1f1f1;
        }

/* Boş mesaj durumu */
empty-message {
    text-align: center;
    font-size: 100px;
    color: #6c757d;
    margin-top: 20px;
}



/* Responsive tasarım */
@media (max-width: 768px) {
    .table {
        width: 100%;
    }

    h2 {
        font-size: 1.5em;
    }
}
