body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
}

.qr-code-form {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    width: 100%;
}

.qr-input {
    width: calc(100% - 30px);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.qr-submit {
    background: #86AB89;
    color: #ffffff;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 210px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .qr-submit:hover {
        background: #ffffff;
        color: #86AB89;
    }

.qr-image {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    background: #86AB89;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
}

    button:hover {
        background: #ffffff;
        color: #86AB89;
    }



    button a {
        color: #ffffff;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
    }

    button:hover a {
        color: #86AB89;
    }



/* 
  ##Cihaz = Masaüstü
  ##Ekran = 1281px 'den yüksek çözünürlükler için
*/

@media (min-width: 1281px) {

    .qr-image {
        width: 300px;
        height: 300px;
    }
}

/* 
  ##Cihaz = Laptoplar, Masaüstü
  ##Ekran = 1025px to 1280px Arası Ekranlar
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    .qr-image {
        width: 300px;
        height: 300px;
    }
}

/* 
  ##Cihaz = Tabletler, Ipad (portrait/dikey modda)
  ##Ekran = 768px to 1024px Arası Ekranlar
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .qr-image {
        width: 300px;
        height: 300px;
    }
}

/* 
  ##Cihaz = Tabletler, Ipad (landscape/yatay modda)
  ##Ekran = 768px to 1024px Arası Ekranlar
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .qr-image {
        width: 300px;
        height: 300px;
    }
}

/* 
  ##Cihaz = Düşük Çözünürlüklü Tablet ve Mobil Ekranlar (Landscape / Yatay Modda)
  ##Ekran = 481px to 767px Arası Ekranlar
*/

@media (min-width: 481px) and (max-width: 767px) {

    .qr-image {
        width: 300px;
        height: 300px;
    }
}

/* 
  ##Cihaz = En Çok Tercih Edilen Mobil Boyutlar (Portrait/Dikey Modda)
  ##Ekran = 320px to 479px Arası Ekranlar
*/

@media (min-width: 320px) and (max-width: 480px) {

    .qr-image {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 200px) and (max-width: 319px) {

    .qr-image {
        width: 120px;
        height: 120px;
    }
}