@model OkuTara_Deneme_2.Models.Classes.Role

@{
    ViewBag.Title = "RoleAdd";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<title>Admin - Yeni Rol Ekle</title>

<div class="p-5 d-flex justify-content-center">
    <div class="w-25">

        @using (Html.BeginForm("RoleAdd", "AdminRole", FormMethod.Post))
        {
            <h2>Yeni Rol Ekleme</h2>

            <div class="my-3">
                @Html.Label("Rol Adı")
                @Html.TextBoxFor(x => x.RoleName, new { @class = "form-control" })
            </div>



            <div class="py-1 d-flex justify-content-end align-items-center">
                <button class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Ekle">
                    <i class="fa-solid fa-circle-check"></i>
                </button>
            </div>
        }
    </div>
</div>