
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    var iletisimUrl = Url.Action("NewContact", "Contact");
}

<title>Şartlar ve Koşullar</title>
<link href="~/DefaultLayoutDesignFolder/css/SartlarVeKosullarCss/style.css" rel="stylesheet" />
<div class="terms-container">
    <h1>Şartlar ve Koşullar</h1>
    <section class="terms-content">
        <h2>1. Giriş</h2>
        <p>Bu şartlar ve koşullar, web sitemizin kullanımını düzenler. Bu web sitesini kullanarak, bu şartlar ve koşulları tamamen kabul etmiş olursunuz. Bu şartlar ve koşulları kabul etmiyorsanız, bu web sitesini kullanmamalısınız.</p>

        <h2>2. Fikri Mülkiyet Hakları</h2>
        <p>Bu web sitesindeki tüm içeriğin, görsellerin, logoların ve diğer materyallerin mülkiyeti, aksi belirtilmedikçe, tarafımıza aittir. Bu materyalleri önceden yazılı iznimiz olmadan kopyalayamaz, yeniden dağıtamaz, çoğaltamaz veya başka bir şekilde kullanamazsınız.</p>

        <h2>3. Kullanıcı Yükümlülükleri</h2>
        <p>Kullanıcılar, web sitesini kullanırken yerel yasalar, ulusal yasalar ve uluslararası yasalar dahil olmak üzere geçerli tüm yasalara uymakla yükümlüdür. Web sitesini kötü amaçlı yazılım yaymak, diğer kullanıcıları taciz etmek veya yasa dışı faaliyetlerde bulunmak amacıyla kullanmak yasaktır.</p>

        <h2>4. Sorumluluk Reddi</h2>
        <p>Bu web sitesindeki bilgilerin doğruluğunu sağlamak için çaba sarf etsek de, web sitesinde yer alan bilgilerin tam, doğru veya güncel olduğunu garanti etmiyoruz. Bu web sitesinin kullanımıyla ilgili herhangi bir zarardan dolayı sorumluluk kabul etmiyoruz.</p>

        <h2>5. Üçüncü Taraf Bağlantıları</h2>
        <p>Web sitemiz, üçüncü taraf web sitelerine bağlantılar içerebilir. Bu bağlantıların içeriğinden veya gizlilik uygulamalarından sorumlu değiliz. Üçüncü taraf sitelerine erişmeden önce onların şartlarını ve gizlilik politikalarını incelemenizi öneririz.</p>

        <h2>6. Değişiklikler</h2>
        <p>Bu şartlar ve koşulları dilediğimiz zaman değiştirme hakkımız saklıdır. Değişiklikler, web sitesinde yayımlandığı tarihten itibaren geçerli olacaktır. Kullanıcılar, şartlar ve koşulları düzenli olarak gözden geçirmelidir.</p>

        <h2>7. İletişim</h2>
        <p>Bu şartlar ve koşullarla ilgili herhangi bir sorunuz veya endişeniz varsa, lütfen bizimle <a href="@iletisimUrl">iletişim</a> sayfası üzerinden iletişime geçin.</p>
    </section>
</div>